.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
}

.card {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 3px #343434;
  margin: 2px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 30px;
}

.display-card {
  background-color: white;
}

.hidden-card {
  background-color: var(--secondary-color);
  color: transparent;
}

.restart-btn {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-color);
  margin: 10px;
  cursor: pointer;
}
