/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #f55362;
  --secondary-color: #373e59;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.container {
  width: 95dvw;
  height: 100dvh;
  max-width: 800px;
  max-height: 600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
